<a href="https://colab.research.google.com/github/annakysilova/Data-Fr/blob/main/Lab2csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Устанавливаем через pip необходимые пакеты**

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/f2/1b/720b36697158113ca1b2221a8e96a470088ccf3770d182214689d1a96a07/psycopg2_binary-2.8.6-cp36-cp36m-manylinux1_x86_64.whl (3.0MB)
     |████████████████████████████████| 3.0MB 12.0MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

**Подключение к БД PostgreSQL на основе sqlalchemy**

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sqlalchemy import create_engine

#Строка подключения - из Heroku
postgres_str='postgres://lrudzgbepzxxig:16401e013e429e971afef55ced20620c96f7ac914c9e98a135983616f2b40b50@ec2-3-220-23-212.compute-1.amazonaws.com:5432/d4i2dneufab066'

#Создание курсора для работы с БД
cnx = create_engine(postgres_str)

#Запрос на получение всех таблиц из БД
pd.read_sql_query('SELECT * FROM pg_catalog.pg_tables', cnx)

            schemaname                tablename  ... hastriggers rowsecurity
0           pg_catalog             pg_statistic  ...       False       False
1           pg_catalog                  pg_type  ...       False       False
2           pg_catalog        pg_foreign_server  ...       False       False
3           pg_catalog                pg_authid  ...       False       False
4           pg_catalog    pg_statistic_ext_data  ...       False       False
..                 ...                      ...  ...         ...         ...
65  information_schema  sql_implementation_info  ...       False       False
66  information_schema                sql_parts  ...       False       False
67  information_schema            sql_languages  ...       False       False
68  information_schema               sql_sizing  ...       False       False
69  information_schema      sql_sizing_profiles  ...       False       False

[70 rows x 8 columns]

**Загрузка данных из CSV-файла**

In [11]:
df = pd.read_csv("drive/MyDrive/Data Science/cvs/googleplaystore1.csv")

**Вывод первых 10 строк**

In [12]:
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

**Загрузим датафрейм с даныыми в БД в таблицу playstore**

In [ ]:
df.to_sql("playstore", con=cnx)

**Сделаем запрос на выборку из БД**

In [ ]:
q=pd.read_sql_query('SELECT * FROM playstore;', cnx)

q

**Посмотрим структуру полей БД средствами Pandas**

In [ ]:
q.columns

**В качестве примера рассмотрим гипотезу, что рейтинг зависит от количества инсталляций. Для подтверждения этой гипотезы построим регрессионную модель Rating от Installs**

In [ ]:
print(q.Rating, q.Installs)

**Анализ данных показывает, что Installs является текстовым полем, которое содержит разделители "," и индикатор "+" в конце строки. Необходимо преобразовать значения из строковых в числовые**

In [ ]:
#Убрали последний символ в строке
q.Installs= q.Installs.map(lambda x: str(x)[:-1])

In [ ]:
q.Installs

In [ ]:
#Убрали ',' в строке
q.Installs = [x.replace(',', '') for x in q.Installs]

In [ ]:
q.Installs

**Уберем пустые значение в полях Installs и Rating**

In [ ]:
q[q.Installs=='']

In [ ]:
#Удаление пустых значений
q=q.drop(q[q.Installs==None].index)

In [ ]:
#Удаление всех записей с пустыми значениями
q=q.dropna()
q